* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

/* =========================
   HEADER / NAVIGATION
========================= */

header {
  padding: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
}

.logo {
  color: #6070ff;
  text-decoration: none;
  font-weight: 900;
}

.menu {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.nav-links {
  display: none;
  list-style: none;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: #344563;
  display: block;
}

.nav-links.show {
  display: flex;
}

/* =========================
   HERO
========================= */

.hero {
  min-height: 100vh;
  background-image: url("images/Header\ bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 24px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero h1 {
  font-size: 60px;
  line-height: 70px;
  color: #172b4d;
}

.hero p {
  font-size: 20px;
  max-width: 900px;
  line-height: 28px;
  color: #344563;
  margin: 12px 0;
}

.hero h3 {
  color: #7f8cff;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  text-decoration: none;
  color: #505f79;
}

/* =========================
   WORKS / PROJECTS
========================= */

.works {
  padding-top: 100px;
}

.project-card {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-content h2 {
  font-size: 32px;
  margin-bottom: 12px;
}

.project-content p {
  margin-bottom: 16px;
  line-height: 24px;
}

.project-info {
  display: flex;
  gap: 12px;
  color: #6b778c;
  margin-bottom: 16px;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.tags {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tags li {
  background: #ebebff;
  color: #6070ff;
  padding: 8px 12px;
  border-radius: 8px;
}

.project-content button {
  margin-top: 8px;
  padding: 12px 16px;
  border: 1px solid #6070ff;
  background: white;
  color: #6070ff;
  border-radius: 8px;
  width: fit-content;
  cursor: pointer;
}

/* =========================
   ABOUT
========================= */

.about {
  padding: 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about h2 {
  font-size: 40px;
  color: #172b4d;
}

.about p {
  line-height: 24px;
  color: #344563;
  margin: 16px 0;
}

.about h3 {
  color: #07070a;
  margin-top: 20px;
}

.skills {
  width: 100%;
  margin-top: 30px;
}

.resume-btn {
  border: 1px solid #6070ff;
  background: white;
  color: #6070ff;
  padding: 12px 16px;
  border-radius: 8px;
  margin-top: 20px;
  width: fit-content;
  cursor: pointer;
}

/* =========================
   SKILLS / LANGUAGES
========================= */

.skill-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #dfe1e6;
}

.languages {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.arrow {
  font-size: 24px;
  color: #344563;
}


.language-card {
  background: #f7f7f9;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
  font-weight: 500;
  width: 120px;
  height: 120px;
}

.skill-icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.accordion-content.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 15px;
  margin-bottom: 24px;
  width: 100%;
}

.accordion-item {
  display: block;
  width: 100%;
  clear: both;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #dfe1e6;
  width: 100%;
}

/* =========================
   CONTACT
========================= */

.contact {
  background-image: url("images/contact\ form-\ background-shape-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px 24px;
  color: white;
}

.contact h2 {
  font-size: 40px;
  margin-bottom: 12px;
}

.contact p {
  max-width: 500px;
  margin: 0 auto 24px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 450px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  padding: 15px;
  border: none;
  border-radius: 8px;
}

.contact textarea {
  min-height: 150px;
}

.contact button {
  width: fit-content;
  margin: 0 auto;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  color: #6070ff;
  background: white;
  cursor: pointer;
}

/* =========================
   DESKTOP
========================= */

@media screen and (min-width: 768px) {

  .hero {
    padding: 120px 100px;
  }
    .menu {
    display: none;
  }

  .nav-links {
   display: flex;
   list-style: none;
   gap: 32px;
  }

  .project-card.reverse> {
   margin-top: 56px;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .about-text-left,
  .skills-right {
    width: 100%;
  }

  .project-card {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin: 24px;
  }

  .project-card img {
    width: 50%;
    max-width: 544px;
  }

  .project-content {
    width: 50%;
    max-width: 544px;
    padding: 24px;
    align-self: flex-start;
  }

  .project-card.reverse {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}

/* =========================
   MOBILE
========================= */

@media screen and (max-width: 767px) {

  .project-card {
    flex-direction: column;
    margin: 16px;
    padding: 16px;
    width: auto;
  }

  .menu {
    display: block;
  }

  .project-card img {
    width: 100%;
    max-width: 100%;
  }

  .project-content {
    width: 100%;
    padding: 0;
  }

  .project-card.reverse {
    flex-direction: column;
  }
}